header {
    margin-top: 1.6rem;
    position: sticky;
    top: 1.6rem;
    z-index: 99;

    .container {

        .header-box {
            @include flex(row, center, space-between);
            gap: 1.6rem;
            padding: .8rem .8rem .8rem 2rem;

            border-radius: 10rem;
            border: 1px solid rgba(255, 255, 255, 0.08);
            background: rgba(255, 255, 255, 0.04);
            backdrop-filter: blur(3.5px);

            .logo {
                display: block;
                max-width: 16.7rem;
            }

            .buttons-wrapper {
                @include flex(row, center, space-between);
                gap: 1.6rem;

                .btn-help {
                    @include flex(row, center, space-between);
                    gap: .8rem;

                    .icon {
                        width: 2.4rem;
                        height: 2.4rem;
                        object-fit: contain;
                    }

                    span {
                        transition: all .3s ease;
                    }

                    &:hover {

                        span {
                            color: var(--color-gray-300);
                        }
                    }
                }
            }

            .btn-hamburger {
                display: none;
                max-width: 2.4rem;
                overflow: hidden;
            }
        }
    }

    @include responsive('md') {

        .container {

            .header-box {
                padding: 2rem 2.6rem;

                .buttons-wrapper {
                    display: none;
                }
    
                .btn-hamburger {
                    @include flex(row, center);
                }
            }

        }
    }

    @include responsive(560px) {

        .container {

            .header-box {

                .logo {
                    max-width: 13.5rem;
                }
            }
        }
    }
}