* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: var(--gray-100);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 1.6rem;
}

html, 
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    background: linear-gradient(122deg, #030009 -11.05%, #03000A 104.5%);
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}